<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString" connectionString="Server=DESKTOP-4BATE1U\SQLEXPRESS;Database=Dealership_Auto_Final;Integrated Security=true;Trust Server Certificate=true;"/>
	</connectionStrings>

	<appSettings>
		<add key="ParentTableName" value="Funcție"/>
		<add key="ChildTableName" value="Angajat"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildLabelNames" value="nume_a,cnp_a,cod_f"/>
		<add key="ColumnNamesInsertParameters" value="@nume_a,@cnp_a,@cod_f"/>
		<add key="UpdateQuery" value="update Angajat set nume_a=@nume_a,cnp_a=@cnp_a,cod_f=@cod_f where cod_a=@id"/>
		<add key="SelectQuery" value="select * from Angajat"/>
		<add key="SelectParent" value="select * from Funcție"/>
		<add key="SelectChild" value="select * from Angajat where cod_f=@id"/>
		<add key="DeleteChild" value="delete from Angajat where cod_a=@id"/>
	</appSettings>
	
	<!--2022-10-20 18:37:23-->
	
	
</configuration>